* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

li {
    style: none;
}

/*utils*/
.container {
    max-width: 1300px;
    margin: 0 auto;
}

/*nav*/

.navbar {
    background-color: #ffd900;
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    color: #333;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.navlink {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.5rem;
}

.navlink:first-child {
    border-right: 1px solid #777;
}

.rightLogo {
    margin-left: 1.5rem;
}