* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

li {
    list-style: none;
}

/*utils*/
.container {
    max-width: 1300px;
    margin: 0 auto;
}

.btn {
    border: none;
    cursor: pointer;
    padding: 1.5rem 3rem;
    color: #fff;
    background: #000;
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #777;

}
/*nav*/

.navbar {
    background-color: #ffd900;
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    color: #333;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.navlink {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.5rem;
}

.navlink:first-child {
    border-right: 1px solid #777;
}

.rightLogo {
    margin-left: 1.5rem;
}

/*connect*/

.connect {
    background-image: url("./background-image.png");
    padding: 5rem;
    background-color: #bcbce2;
    min-height: 500px;
}

.connect .container{
    display: flex;
    justify-content: space-between;
}

.sampleTest {
    margin: 4rem;
    max-width: 430px;
}

.sampleTest p {
    color: #4f7a8d;
    font-size: 3.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sampleTest .btn {
    background: #f3438c;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
}

.connectDetails {
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    max-width: 350px;
}

.connectDetails h1 {
    color: #4f7a8d;
    font-weight: 400;
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
}

.connectDetails span {
    display: inline-block;
    color: #ff4040;
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

.customerDetailsInput .btn{
    background: #1a8818;
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: 2rem;
}